*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.container{
    max-width: 500px;
    margin: 100px auto;
}
h5{
    font-size: 16px;
    color: rgb(9, 200, 200);
    margin-block: 40px;

}
.input--wrapper{
    display: flex;
    flex-direction: column;
    border-bottom: 10px dotted rgb(113, 110, 110);
    margin-bottom: 80px;
}
button{
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 40px;
    margin-block: 20px;
    border-radius: 12px;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;  
    border-radius:12px;
    border: 1px solid gray;
    margin-block: 5px;
}

.answer--wrapper{
    border: 1px solid gray;
    background-color: transparent;
    padding: 10px 80px 40px;
    border-radius: 10px;
    margin-block: 10px;
    position: relative;
}
label{
    font-size: 28px;
    color: rgb(70, 154, 194);
    line-height: 1.8;
    
}
p{
    color: rgb(18, 196, 101);
    font-size: 18px;
}
span{
    position: absolute;
    font-size: 25px;
    left: 20px;
    top: 10px;
    cursor:grab;
}